<div class="page-background">
  <div class="chess-board">
    @for (row of chessBoard; let x = $index; track $index) {
    <div class="row">
      @for (piece of row; let y = $index; track $index) {
      <div class="square" [class.dark]="isSquareDark(x, y)" [class.light]="!isSquareDark(x, y)"
        [class.selected-square]="isSquareSelected(x, y)" [class.last-move]="isSquareLastMove(x,y)"
        [class.in-check]="isSquareChecked(x,y)" (click)="selectOrMove(x,y)">

        <div [class.safe-square]="isSquareSafeForSelectedPiece(x,y)"></div>

        @if (piece) {
        <img [src]="pieceImagePaths[piece.FENChar]" [alt]="piece">
        }
      </div>
      }
    </div>
    }
  </div>
</div>

@if (promotionDialog.visible) {
<div class="overlay">
  <div class="dialog">
    <div class="promotion-options">
      @for (piece of promotionPieces(); track $index) {
      <img [src]="pieceImagePaths[piece]" [alt]="piece" (click)="promotePawn(piece)">
      }
    </div>
  </div>
</div>
}

@if (isGameOver) {
<div class="overlay">
  <div class="dialog">
    <h2>{{gameOver.type}}</h2>
    <br>
    <h3>{{gameOver.message}}</h3>
  </div>
</div>
}