<div class="page-background">

  <div class="game-section">
    
    <div class="chess-section">
      <div class="player-header top">
        <div class="player-info">
          <div class="player-name">Black</div>
        </div>
        <div class="captured-pieces">
          @for (piece of getCapturedPieces(0); track $index) {
          <img [src]="pieceImagePaths[piece.FENChar]" [alt]="piece">
          }
          <span *ngIf="materialDifference < 0">
            +{{ -(materialDifference) }}
          </span>
        </div>
      </div>

      <div class="chess-board">
        @for (row of chessBoard; let x = $index; track $index) {
        <div class="row">
          @for (piece of row; let y = $index; track $index) {
          <div class="square" [class.dark]="isSquareDark(x, y)" [class.light]="!isSquareDark(x, y)"
            [class.selected-square]="isSquareSelected(x, y)" [class.last-move]="isSquareLastMove(x,y)"
            [class.in-check]="isSquareChecked(x,y)" (click)="selectOrMove(x,y)">

            <div [class.safe-square]="isSquareSafeForSelectedPiece(x,y)"></div>

            @if (piece) {
            <img [src]="pieceImagePaths[piece.FENChar]" [alt]="piece">
            }

            <span class="square-label">{{ getSquareDetail(x, y).name }}</span>
          </div>
          }
        </div>
        }
      </div>

      <!-- Bottom Player (White) -->
      <div class="player-header bottom">
        <div class="player-info">
          <div class="player-name">White</div>
        </div>
        <div class="captured-pieces">
          @for (piece of getCapturedPieces(1); track $index) {
          <img [src]="pieceImagePaths[piece.FENChar]" [alt]="piece">
          }
          <span *ngIf="materialDifference > 0">
            +{{ materialDifference }}
          </span>
        </div>
      </div>
    </div>

    @for (moves of moveList; track $index) {
    <div>{{$index}}. 
      @for (move of moves; track $index) {
        <span>{{move}}</span>
      }
    </div>
    }
    <!-- <div style="color: white;">{{moveList | json}}</div> -->
    <button (click)="goToPreviousMove()">Prev</button>
    <button (click)="goToNextMove()">Next</button>
  </div>
</div>




@if (promotionDialog.visible) {
<div class="overlay">
  <div class="dialog">
    <div class="promotion-options">
      @for (piece of promotionPieces(); track $index) {
      <img [src]="pieceImagePaths[piece]" [alt]="piece" (click)="promotePawn(piece)">
      }
    </div>
  </div>
</div>
}

@if (isGameOver) {
<div class="overlay">
  <div class="dialog">
    <h2>{{gameOver.type}}</h2>
    <br>
    <h3>{{gameOver.message}}</h3>
  </div>
</div>
}