.page-background {
    background-color: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chess-board {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 90vmin;
    height: 90vmin;
}

.rotated {
    transform: rotate(180deg);
}

.row {
    display: flex;
    flex: 1;
}

.square {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

.light {
    background-color: #f0d9b5;
}

.dark {
    background-color: #b58863;
}

.selected-square {
    background-color: rgba(20, 85, 30);
}

.safe-square {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: rgba(20, 85, 30);
    border-radius: 50%;
    z-index: 100;
}